<!DOCTYPE html>
<html lang="jpn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>不動産質問サイト</title>
</head>
<body>
    <header>
        <h1>不動産質問サイト</h1>
        <nav id="gnav">
            <ul class="inner">
                <li><a href="index.html">TOP</a></li>
                <li><a href="questions.html">質問一覧</a></li>
                <li><a href="answerers.html">回答者一覧</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>