<!DOCTYPE html>
<html lang="jpn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="privacypolicy.css">
    <title>不動産質問サイト</title>
</head>
<body>
    <header style="text-align:center">
        <h1>不動産質問サイト</h1>
        <h2 class='regibutton'>
            <a href = "choose_membership_type.html">
                <button type = "button">会員登録/ログイン</button>
            </a>
        </h2>
        <nav id="gnav">
            <ul class="inner">
                <li><a href="index.html">TOP</a></li>
                <li><a href="questions.html">質問一覧</a></li>
                <li><a href="answerers.html">回答者一覧</a></li>
            </ul>
        </nav>
    </header>
    <div class="privacy-policy">
        <div class="privacy-policy__item">
            <p class="privacy-policy__item__title">第1条（個人情報）</p>
            <p class="privacy-policy__item__desc">「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
        </div>
        <div class="privacy-policy__item">
            <p class="privacy-policy__item__title">第1条（個人情報）</p>
            <p class="privacy-policy__item__desc">「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
        </div>
        <div class="privacy-policy__item">
            <p class="privacy-policy__item__title">第1条（個人情報）</p>
            <p class="privacy-policy__item__desc">「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
        </div>
        <div class="privacy-policy__item">
            <p class="privacy-policy__item__title">第1条（個人情報）</p>
            <p class="privacy-policy__item__desc">「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
        </div>
        <div class="privacy-policy__item">
            <p class="privacy-policy__item__title">第1条（個人情報）</p>
            <p class="privacy-policy__item__desc">「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</p>
        </div>
    </div>
    <div class="back">
        <a href="index.html"　>戻る</a>
    </div>
</body>
</html>